body {
    font-family: monospace;
    color: #ffffff;
    font-size: 1.3rem;
}

main {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: black;
    color: #ffffff;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2rem;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 15px;
        }


        .navigation a:hover{
            background-color: #ff0000;
            padding: auto;
            color: #ffffff;
            transition: all 0.5s linear;
}

.logo {
    letter-spacing: 1rem;
    font-size: 1.4rem;
    padding: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#img-logo:hover {
    font-size: 1.6rem;
    letter-spacing: 1.8rem;
    transition: 0.59s;
    border-radius: 2rem;
}

.menu-ico{
    display: block;
}

header {
    padding-top: 1rem;
    background-color: black;

}

    header a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}


.cartelera h1 {
    text-align: center;
    background-color: red;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.4rem;
    margin-bottom: 5rem;

}
.cartelera li {
    display: inline-block;
    padding-left: 10.8rem;
}

footer {
    background-color: #302e2ed2;
    padding: 1rem 0.5rem;
    color: #ffffff;
    text-align: left;
    padding-left: 5rem;
}


/*Noticias*/
#cartelera1 {
    background-color: black;
    color: #ffffff;

}

#cartelera1:hover {
    box-shadow: 10px 10px 20px rgba(129, 29, 29, 0.94);
    transition: 0.56s;
}

.noticias ul li {
    text-decoration: none;
    display: inline-block;
    padding: 3.2rem;  

}

.Últimas-noticias h1{
    text-align: center;
    background-color: red;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.4rem;
    margin-bottom: 5rem;
}

#Noticias{
    background-color: black;
    color: #ffffff;

}

#inicio-secion{
    background-color: #ff000090;
    color: rgb(255, 255, 255);
    border-radius: 1.0rem;
}

#inicio-secion:hover{
    background-color: #c7521b;
    transition: 0.59s;
}