*{
    font-family: monospace;
}

main {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: black;
    color: #ffffff;

    /* Altura del footer no borrar carajo >:u */ 
    min-height: 100%;
    margin-bottom: -50px;
}

.inicio-secion {
 text-align: center;
 align-items: center;
 padding: 12rem;
 padding-bottom: 31rem;

}
    .inicio-secion h1{
        border-radius: 2rem;
        padding: 2rem;
        text-decoration: overline;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    }

.form-inicio-secion ul li {
    text-align: center;
    list-style: none;
        
}



.logo a {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

label {
    margin-left: 5px;
    color: #333;
}

button {
    width: 20rem;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
    transition: 0.59s;
    color: #ffffff;
    border-radius: 1rem;
}


footer {
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: -50px;
}

